tags
Session.vim
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/spell/*

view
backup
undofiles
bundle
minibundle
.netrwhist
messages.log
autoload

.tags
nvim/.config/nvim/.undodir/
nvim/.config/nvim/Ditto/

.undodir/*
*~
tags
